body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game-container {
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.message {
    font-size: 36px;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title-container {
    text-align: center;
}

#title-image {
    width: 200px;
    height: 200px;
}

#game-title {
    margin-top: 10px;
}

#play-button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#ball, #left-bar, #right-bar {
    position: absolute;
}

#left-bar, #right-bar {
    width: 20px;
    height: 100px;
    background-color: blue;
    z-index: 1;
}

#left-bar {
    left: 0;
}

#right-bar {
    right: 0;
    background-color: red;
}

#ball {
    width: 50px;
    height: 50px;
}
