body {
  margin: 0;
  background-color: black;
  overflow: hidden;
}

#play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 20px;
  cursor: pointer;
}

#title-container {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.message {
  font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
  text-align: center;
}

#ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('https://raw.githubusercontent.com/kill-antonieto/pelota/main/images/Screenshot_6.png');
  background-size: cover;
}

#left-bar,
#right-bar {
  position: absolute;
  width: 10px;
  height: 100px;
  background-color: blue; /* Puedes cambiar el color según tus preferencias */
}

#right-bar {
  right: 0;
  background-color: red; /* Puedes cambiar el color según tus preferencias */
}
